*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    /* max-height: 100%; */
    height: 100%;
    width: 100%;
    max-width: 100%;
}
.image1 {
    /* height: 100%; */
    /* width: 100%; */
    height: 100%;

}
.image{
    /* height: 100%; */
    width: 100%;
    /* height: 100%; */
   
}
header{
    display: flex;
    height: 15vh;
     justify-content: space-between;
     background-color: #336699;
        align-items: center;
}
.search{
    width: 40vw;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}
select,input, button{
    border: none;
}
button{
    background-color: black;
    color: white;
    padding: 10px;
    
}
.header-right{
    display: flex;
}
.search-fa{
    display: flex;
}
.header-right-buy{
    padding: 10px 15px 0 15px;
    margin: 0 15px 0 15px;
    border-left: 1px solid;
    border-right: 1px solid;
    color: white;
}
.header-right-buy:hover{
    color: red;
}
.user{
    margin-right:40px ;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(48, 48, 71);
    color: white;
}
main{
    display: flex;
}
nav{
    flex: 2;
}
nav h3{
    color: white;
    padding: 10px;
    background-color: #336699;

}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid;
}
.cha{
    position: relative;
}
li:hover {
    background-color: #336699;
}
.con{
    position: absolute;
        right: -206px;
        top: -1px;
        width: 20vw;
        border: 1px solid;
        display: none;
}
.cha:hover .con{
    display: block;
}
.content{
    flex: 7;
}
.content-child{
    display: flex;
    width: 100%;
}
.product{
    flex: 2.5;
    padding: 10px;
    border: 1px solid;
}
.price{
    display: flex;
    justify-content: space-around;
}
.price> span{
    padding: 5px;
    background-color: red;
    margin-right: 25px;
}
.price> i{
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
}